.buscador {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: color-3;
  background: -webkit-gradient(linear, left bottom, left top, from(#37006a), color-stop(0%, #3c016e), color-stop(38%, #8f0fb1), color-stop(45%, #9e11bd), to(#d71beb));
  background: linear-gradient(0deg, #37006a 0%, #3c016e 0%, #8f0fb1 38%, #9e11bd 45%, #d71beb 100%);
}
.buscador form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.buscador__input {
  margin: 0 2rem 0 2rem;
  width: 600px;
  min-width: 250px;
  height: 60px;
  padding: 20px;
  border-radius: 30px;
  border: solid 3px;
  font-size: 25px;
  font-weight: 600;
  color: color-3;
  -webkit-box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}
.encabezado--con-filtros {
  margin: 0 auto;
}
.encabezado--con-filtros h2 {
  font-family: font-2;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem 0 2rem;
}
.encabezado--con-filtros .filtros {
  width: 250px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 2rem;
}
.encabezado--con-filtros .filtros span {
  text-transform: uppercase;
  font-family: font-2;
}
.encabezado--con-filtros .filtros a {
  font-size: 20px;
  color: color-3;
}
