include configurations.pug 
//- HEADER-HTML		
doctype html
html(lang="en")
	include ./head.pug
	body
		header 
			h1 Platzi Games 
			if user
				a.boton(href="#")=user[0]
			else
				a.boton(href="#") registro
		block componentes
		
		//- BLOQUE-4-CAJAS
		main.contenido
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
		block cajas
