.sombra-caja {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.oswald-upper {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "lato", sans-serif;
  color: #313131;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.intro {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.intro__imagen {
  width: 100%;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__contenido {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: left;
  color: #d3d3d3;
}
.intro__categoria {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(148, 37, 124, 0.5);
}
.intro__titulo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #d3d3d3;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #d3d3d3;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
}
.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
  line-height: 33px;
  padding: 0 2rem 0 2rem;
}
.articulo--principal__intro {
  font-size: 26px;
  padding: 1rem 0 1rem 0;
}
.articulo--principal h3 {
  font-size: 23px;
  color: #94257c;
  padding: 1rem 0 1rem 0;
}
.articulo--principal h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  padding: 1rem 0 2rem 0;
}
.contenedor--cajas {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.caja {
  max-width: 430px;
  min-width: 250px;
  margin: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.caja__imagen img {
  max-width: auto;
  min-width: 250px;
}
.caja__contenido {
  padding: 2.5rem;
  background-color: #d3d3d3;
}
.caja span {
  color: #94257c;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: #00a3ee;
}
.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #313131;
  width: 100%;
  height: 100px;
  padding: 0 2rem 0 2rem;
}
.footer h3 {
  font-family: "lato", sans-serif;
  color: #d3d3d3;
  font-size: 26px;
}
.footer a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 18px;
}
