font-1 = "lato", "sans-serif"
font-2 = "Oswald", "sans-serif"
color-1 = #333333
color-2 = #ffffff
color-3 = rgb(55,0,106)
contenedor()
	display: flex
	width: 100%
	justify-content: space-around
	flex-wrap: wrap
	padding: 3rem 0
opacity(color,cantidad){
    alpha(color,cantidad)
}

boxShadow()
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
*   
	box-sizing: border-box
	margin: 0
	padding: 0

body
	
	font-family: font-1
