.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.caja {
  max-width: 400px;
  height: 100%;
  margin: 1rem;
}
.caja__contenido {
  height: 250px;
  padding: 2rem;
  background-color: color-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.caja__contenido span {
  text-transform: uppercase;
  color: color-3;
  font-family: font-2;
}
.caja__contenido h3 {
  text-transform: uppercase;
  font-family: font-2;
  color: color-1;
}
.caja__contenido p {
  color: color-1;
}
