mixin caja(imagen, categoria, titulo, contenido)
	.caja
		.caja__imagen: img(src="./images/"+imagen)
		.caja__contenido
			span.caja__categoria=categoria
			h3=titulo
			p=contenido
			a(href="#")  Leer Mas

