extend ./components/header.pug
block mixines
block componentes
		section.intro 
			div.intro__imagen
				img(src="/images/imagen.png", alt="imagen de platzi")
			div.intro__contenido
				h2 Titulo Secundario 
				p Lorem ipsum dolor sit amet consect etur adipisicing elit. Ab suscipit saepe accusantium veritatis reprehenderit tempora sit, ex libero,
				span cupiditate aliquid nihil officiis quaerat non illo tempore cum! Eveniet
				a.boton(href="#") click aqui

		main.contenido
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			+caja("imagen.png", titulos[0], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, laborum" )
			

			